<section class="content">
  <h2>Predictions for {{ player.username }}</h2>

  <div class="row">
    {{#each preds }}
    <div class="col-xl-3 col-md-4 col-sm-6">
      <table class="table smallpreds">
        <caption>{{ groupPrefix @key }}</caption>
        <tbody>
          {{#each this }}
          <tr>
            <td style="text-align: right;"><span title="{{ teama.name }}">{{ teama.code }}</span> <span class="flag-icon flag-icon-{{ teama.sname }}"></span></td>
            {{#if expired }}
            <td class="score pts-{{ pts }} {{#if joker}}joker{{/if }}">{{#if pred }}{{ pred }}{{ else }}-{{/if }}</td>
            {{ else }}
              {{#if pred }}
              <td class="score">?-?</td>
              {{ else }}
              <td class="score">-</td>
              {{/if }}
            {{/if }}
            <td><span class="flag-icon flag-icon-{{ teamb.sname }}"></span> <span title="{{ teamb.name }}">{{ teamb.code }}</span></td>
          </tr>
          {{/each }}
        </tbody>
      </table>
    </div>
    {{/each }}
  </div>

</section>