<section class="content">
  <h2>{{ player.username }}</h2>

  <table class="table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Prediction</th>
        <th>Result</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each preds }}
      <tr>
        <td><a href="/teams/{{ match.TeamA.id }}">{{ match.TeamA.name }}</a></td>
        <td class="score">{{ prediction }}</td>
        <td class="score">{{ match.result }}</td>
        <td><a href="/teams/{{ match.TeamB.id }}">{{ match.TeamB.name }}</a></td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</section>