<p>Hi,</p>

<p>You've been invited by {{ name }} ({{ email }}) to play World Cup Goalmine.<p>

{{#if custom }}
{{ custom }}
{{/if }}

<p>Your unique code is:</p>
<p><a style="font-size: 2em; font-weight: bold; text-decoration: none; color: #db592e; " href="https://worldcup.goalmine.eu/user/confirm/{{ code }}">{{ code }}</a></p>

<p>Click on the code, or here <a href="https://worldcup.goalmine.eu/user/confirm/{{ code }}">https://oscars.goalmine.eu/user/confirm/{{ code }}</a> to confirm your account.</p>

<p>Good luck!</p>
<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})
  <small>mail sent by <a href="https://mailgun.org">mailgun</a>.</small>
</footer>