{{!-- template for accepting a player joining a user league --}}
<p>Hi {{ user }},</p>

<p>You made a request to join a private user league ({{ league }}) in World Cup Goalmine.</p>

<p>This has been accepted by the organiser of the league. You can now view the league standings <a href="https://worldcup.goalmine.eu/leagues/{{ id }}">here</a>.</p>

<p>Or paste this link into your browser: https://worldcup.goalmine.eu/leagues/{{ id }}</p>

<footer>
  <hr />
  World Cup Goalmine v{{ app.version }} ({{ app.name }})<br />
  <p><small style="color: #333;">mail sent by <a href="https://mailgun.org">mailgun</a>.</small></p>
</footer>