<section class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Teams</h2>

    <table id="teams" class="list table">
      <thead>
        <tr>
          <th>Team</th>
          <th style="width: 4em;">Group</th>
          <th>Coach</th>
          <th style="width: 7em;" class="narrow">Ranking <sup><a target="_blank" href="https://www.fifa.com/fifa-world-ranking/ranking-table/men/" title="FIFA.com">[1]</a></sup></th>
          <th class="hidesmall">Confederation</th>
        </tr>
      </thead>
      <tbody>
        {{#each data }}
        <tr>
          <td><span class="flag-icon flag-icon-{{ sname }}"></span> <a href="/teams/{{ id }}">{{ name }}</a></td>
          <td style="width: 4em;">{{ group }}</td>
          <td>{{ coach }}</td>
          <td style="width: 7em;" class="narrow">{{ ranking }}</td>
          <td class="hidesmall">{{ confederation }}</td>
        </tr>
        {{/each }}
      </tbody>
    </table>    
  </div>

</section>