<section class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Matches</h2>
    {{#each matches }}
    <table class="table list">
      <caption>{{ groupPrefix @key }}</caption>
      <thead>
        <tr>
          {{#if ../dateorder }}
          <th>Group</th>
          <th>Time <small>(<acronym title="British Summer Time">BST</acronym>)</small></th>
          {{ else }}
          <th>Date <small>(<acronym title="British Summer Time">BST</acronym>)</small></th>
          {{/if }}
          <th class="hidesmall">Venue</th>
          <th>&nbsp;</th>
          <th class="score">Result</th>
          <th>&nbsp;</th>
          <th style="width: 2em;">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each this }}
        <tr>
          {{#if ../../dateorder }}
          <td>{{ group }}</td>
          <td>{{ time }}</td>
          {{ else }}
          <td class="date" data-ld="{{ ldate }}"><span>{{ sdate }}</span></td>
          {{/if }}
          <td class="hidesmall"><a href="/venues/{{ venue.id }}">{{ venue.stadium }}</a></td>
          <td style="text-align: right;"><a href="/teams/{{ TeamA.id }}">{{ TeamA.name }}</a> <span class="flag-icon flag-icon-{{ TeamA.sname }}"></span></td>
          <td class="score">{{#if result }}{{ result }}{{ else }}<span style="color: #aaa;">v</span>{{/if }}</td>
          <td><span class="flag-icon flag-icon-{{ TeamB.sname }}"></span> <a href="/teams/{{ TeamB.id }}">{{ TeamB.name }}</a></td>
          <td><a href="/matches/{{ id }}"><i class="fas fa-eye"></i></a></td>
        </tr>
        {{/each }}
      </tbody>
    </table>
    {{/each }}    
  </div>

</section>