<section class="content row justify-content-center">

  <div class="col-md-8">
    <section class="col-sm-12">
      <h2 data-mid="{{ match.id }}">Match {{ match.id }}</h2>

      <table class="match">
        <caption>{{ groupPrefix match.group }} {{ dt }}, <a href="/venues/{{ match.venue.id }}">{{ match.venue.stadium }}</a></caption>
        <tbody>
          <tr>
            <td class="team-flag"><div class="flag-icon-background flag-icon-{{ match.TeamA.sname }}"></div></td>
            <td>
              <a href="/teams/{{ match.TeamA.id }}">{{ match.TeamA.name }}</a>
            </td>
            <td class="matchresult score">{{#if match.result }}{{ match.result }}{{ else }}-{{/if }}</td>
            <td><a href="/teams/{{ match.TeamB.id }}">{{ match.TeamB.name }}</a></td>
            <td class="team-flag"><div class="flag-icon-background flag-icon-{{ match.TeamB.sname }}"></div></td>
          </tr>
          <tr class="scorers">
            <td></td>
            <td style="text-align: right;">
              <ul>
              {{#each goals.home }}
              <li>{{ scorer }} {{ time }}{{#if tao }}+{{ tao }}{{/if }}' {{#if type }}({{ type }}) {{/if }}<i class="fa fa-futbol {{ type }}"></i> </li>
              {{/each }}            
              </ul>
            </td>
            <td>&nbsp;</td>
            <td>
              <ul>
              {{#each goals.away }}
              <li><i class="fa fa-futbol {{ type }}"></i> {{ scorer }} {{ time }}{{#if tao }}+{{ tao }}{{/if }}' {{#if type }}({{ type }}){{/if }}</li>
              {{/each }}               
              </ul>     
            </td>
          </tr>
        </tbody>
      </table>    
    </section>
  </div>

  <div class="row col-md-8">
    <section class="col-md-6">
      {{#if preds }}
      <section>
        <table class="table list">
          <caption>Predictions</caption>
          <thead>
            <tr>
              <th>Player</th>
              <th class="score">Pred</th>
            </tr>
          </thead>
          <tbody>
            {{#each preds }}
            <tr>
              <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
              <td class="score {{#if joker }}joker{{/if }} pts-{{ points }}">{{ prediction }}</td>
            </tr>
            {{/each }}
          </tbody>
        </table>
      </section>
      {{/if }}
    </section>
    <section class="col-md-6">
      <h5 class="text-muted">Goalmap</h5>
      <div id="container" style="max-width: 500px;"></div>
    </section>
   </div>

  <div class="col-md-8">
    {{#if user.admin }}
      <button data-mid="{{ match.id }}" class="editscore btn btn-info">Edit Score</button>
      <div style="display: none;" id="res{{ match.id }}">
        <form method="post" action="/admin/result">
          <input id="res" placeholder="XX-XX" type="text" name="result" value="{{ match.result }}" />
          <input type="hidden" name="mid" value="{{ match.id }}" />
          <input id="submit" type="submit" class="btn btn-success btn-sm" value="Submit" />
        </form>
      </div>
      {{#if match.result }}
        <a href="/admin/goals/{{ match.id }}" class="btn btn-info">Add Goals</a>
      {{/if }}
    {{/if }}    
  </div>

</section>
