<section id="preds" class="content row justify-content-center">
  <div class="col-md-8">
    <h2>Edit Predictions</h2>
    {{#each table }}
      <table class="preds table">
        <caption>{{ groupPrefix @key }}</caption>
        <thead>
          <tr>
            <th class="hidesmall">&nbsp;</th>
            <th>&nbsp;</th>
            <th>Pred</th>
            <th class="score">Result</th>
            <th>&nbsp;</th>
          </th>
        </thead>
        <tbody>
          {{#each this }}
          <tr {{#if expired }}class="expired"{{/if }}>
            <td class="hidesmall">{{ date }}</td>
            <td style="text-align: right;"><a href="/teams/{{ teama.id }}">{{ teama.name }}</a> <span class="flag-icon flag-icon-{{ teama.sname }}"></span> </td>
            <td class="pred">
              {{#if expired }}
                <span class="score">{{#if pred }}{{ pred }}{{ else }} - {{/if }}</span>
                <input type="radio" disabled="disabled" {{#if joker }}checked{{/if }} />
                <span class="ajax hide">saved <i class="far fa-check-circle"></i></span>                  
              {{ else }}
                <input placeholder="X-X" pattern="\d{1,2}-\d{1,2}" class="score" maxlength="5" tabindex="{{ mid }}" type="text" value="{{ pred }}" data-mid="{{ mid }}" />
                <input type="radio" data-mid="{{ mid }}" data-stage="{{ stage }}" name="joker[{{ @../key }}]" {{#if group_expired }}disabled="disabled"{{/if }} />
                <span class="ajax hide">saved <i class="far fa-check-circle"></i></span>
              {{/if }}
            </td>
            <td class="score">{{ result }}</td>
            <td><span class="flag-icon flag-icon-{{ teamb.sname }}"></span> <a href="/teams/{{ teamb.id }}">{{ teamb.name }}</a></td>
          </tr>
          {{/each }}
        </tbody>
      </table>
    {{/each }}
  </div>
</section>
