<section class="row content">

  <section class="sideteam col-md-4 col-lg-3">
    <h3>{{ venue.stadium }}</h3>
    <p>{{ venue.city }}</p>
    <img style="max-width: 90%;" src="/img/stadia/stadium{{venue.id }}.jpg" alt="{{ venue.stadium }}" />
    <p>Capacity: {{ venue.capacity }}</p>
  </section>

  <section class="col row justify-content-center">

    <div class="col-md-10 col-sm-12">
      <table class="table list">
        <caption>Games</caption>
        <thead>
          <tr>
            <th class="narrow">Date <small>(<acronym title="British Summer Time">BST</acronym>)</small></th>
            <th>Stage</th>
            <th>&nbsp;</th>
            <th class="score">Result</th>
            <th>&nbsp;</th>
            <th style="width: 2em;">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each matches }}
          <tr>
            <td class="date narrow" data-ld="{{ date }}"><span>{{ sdate }}</span></td>
            <td>{{ groupPrefix stage }}</td>
            {{#unless teama.id }}
              <td class="home">{{ teama.name }}</td>
            {{ else }}
              <td class="home"><a href="/teams/{{ teama.id }}">{{ teama.name }}</a> <span class="flag-icon flag-icon-{{ teama.flag }}"></span></td>
            {{/unless }}
            <td class="score">{{ result }}</td>
            {{#unless teamb.id }}
              <td class="away">{{ teamb.name }}</td>
            {{ else }}
              <td class="away"><span class="flag-icon flag-icon-{{ teamb.flag }}"></span> <a href="/teams/{{ teamb.id }}">{{ teamb.name }}</a></td>
            {{/unless }}        
            <td class="narrow"><a href="/matches/{{ id }}"><i class="fas fa-eye"></i></a></td>
          </tr>
          {{/each }}
        </tbody>
      </table>      
    </div>

  </section>

</section>
