<section class="content row justify-content-center">
  <div class="col-md-8 col-sm-12">
    <h2>User Leagues</h2>

    <table class="table list">
      <thead>
        <tr>
          <th>League</th>
          <th>Organiser</th>
        </tr>
      </thead>
      <tbody>
        {{#each confirmed }}
        <tr>
          <td>
            <a href="/leagues/{{ id }}">{{ name }}</a>
            {{#unless public }}<i class="fas fa-lock" title="private league"></i>{{/unless }}
          </td>
          <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
        </tr>
        {{/each }}
      </tbody>
    </table>
    <p>User leagues are separate from the main leaderboard. Anyone can <a href="/leagues/add/">create</a> and manage their own league, and set their own entry requirements and prizes. You will always score the same points as the main league.</p>
    <p>Public leagues are open to everyone. Leagues marked with a <i class="fas fa-lock"></i> are private. You can request to join these leagues.</p>    
  </div>

  {{#if pending }}
  <section class="admin col">
    <h4>Pending Leagues <i title="Admin function" class="fas fa-lock"></i></h4>

    <table id="pending_league" class="table list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Organiser</th>
          <th>Decision</th>
        </tr>
      </thead>
      <tbody>
        {{#each pending }}
        <tr>
          <td>{{ name }}</td>
          <td>{{{ description }}}</td>
          <td>{{ user.username }}</td>
          <td>
            <button type="button" data-decision="A" data-lid="{{ id }}" class="btn btn-success"><i class="fas fa-thumbs-up"></i></button>
            <button type="button" data-decision="R" data-lid="{{ id }}" class="btn btn-danger"><i class="fas fa-thumbs-down"></i></button>
          </td>
        </tr>
        {{/each }}
      </tbody>
    </table>
  </section>
  {{/if }}

</section>